/*--------------*\
    text-helpers
\*--------------*/



.text-underline{
  text-decoration: underline !important;
}

.txt-black {
  color: #000 !important;
}
.text-blue{
  color: #775DA6;
}
.fw-500{
  font-weight: 500;
}