<aside class="aside">
	<div class="left-top">
		<div class="sitepanel-toggler">
			<div class="close">
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div class="logo">
				<a class="navbar-brand" href="#"><img src="~/assets/images/logo.png" alt=""></a>
			</div>
		</div>
		<div class="side-panel-dropdown">
			<button class="panel-button dropdown-toggle" type="button">
				<i class="icon icon-lajou-cafe"></i> Lajou cafe
			</button>
			<ul class="panel-dropdown-menu">
				<li><a class="panel-dropdown-item" href="#">Action</a></li>
				<li><a class="panel-dropdown-item" href="#">Another action</a></li>
				<li><a class="panel-dropdown-item" href="#">Something else here</a></li>
			</ul>
		</div>
		<ul>
			<li><a href="./pm-index.html" class="panel_link "><i class="icon icon-overviwe"></i> Overview</a></li>
			<li class="nav-item panel-dropdown position-relative">
				<a href="/Project/Index" class="mb-auto panel_link active_panel">
					<i class="icon icon-business"></i> Projects
				</a>
				<div>
					<a class="dropdown-btn nav-link dropdown-toggle position-absolute" href="" id="Setting-Dropdown"
					   role="button" data-bs-toggle="dropdown" aria-expanded="false" style="top: 11px; right: 17px;">
					</a>
					<ul class="Setting-Dropdown m-0" aria-labelledby="Setting-Dropdown">
						<li><a class="dropdown-item panel_link " href="./pm-project-overview.html">project Overview</a></li>
						<li>
							<a class="dropdown-item panel_link " href="./pm-project-performance.html">project Performance</a>
						</li>
					</ul>
				</div>
			</li>
			<li class="nav-item panel-dropdown">
				<a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Transactions-Dropdown"
				   role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="icon icon-sales"></i> Financial Performance
				</a>
				<ul class="transactions-dropdown" aria-labelledby="Transactions-Dropdown">
					<li><a class="dropdown-item panel_link " href="./pm-revenue-plan.html">Revenue Plan</a></li>
					<li><a class="dropdown-item panel_link " href="./pm-project-cocs.html">COCs Overview</a></li>
					<li><a class="dropdown-item panel_link " href="./pm-project-pos.html">Project POs</a></li>
				</ul>
			</li>
			<li>
				<a href="./pm-transferred-projects.html" class="panel_link ">
					<i class="icon icon-transferred-projects bg-cover"></i>
					Transferred Projects
				</a>
			</li>
			<li><a href="./pm-report.html" class="panel_link "><i class="icon icon-expenses"></i> Reports</a></li>
			<li>
				<a href="./pm-compnies-list.html" class="panel_link ">
					<i class="icon icon-reports"></i> Customer
					Profile
				</a>
			</li>
			<li><a href="./pm-contact.html" class="panel_link "><i class="icon icon-project"></i> Contacts</a></li>
			<li class="nav-item panel-dropdown">
				<a class="dropdown-btn nav-link dropdown-toggle panel_link " href="#" id="Business-Dropdown"
				   role="button" data-bs-toggle="dropdown" aria-expanded="false">
					<i class="icon icon-bar-document"></i> Setting
				</a>
				<ul class="Business-Dropdown" aria-labelledby="Transactions-Dropdown">
					<li><a class="dropdown-item panel_link " href="" data-bs-toggle="modal" data-bs-target="#SettingForm"><i class="icon icon-bar-document"></i> Account</a></li>
					<li><a class="dropdown-item panel_link" href="./pm-setting-general.html"><i class="icon icon-bar-document"></i> General</a></li>
					<li><a class="dropdown-item panel_link " href=""><i class="icon icon-bar-document"></i> Profile</a></li>
				</ul>
			</li>
			<li><a href="./crm-overview-index.html">Move to CRM</a></li>
			<li><a href="./pm-home-page.html" class="panel_link">Home Page</a></li>
			<li><a href="./admin-dashboard.html">Move to Admin</a></li>
		</ul>
	</div>
</aside>